.display {
    background-color: #362a2b;
    width: 320px;
    color: #efeeee;
    font-size: 50px;
    text-align: right;
    padding: 10px 0px 15px 0px;
    border-radius: 12px 12px 0 0;
    height: 40px;
}

button {
    background-color: #6e6767;
    text-align: center;
    font-size: 30px;
    width: 25%;
    padding: 10px 0;
    color: #efe9eb
}

.row {
    display: flex;
    width: 320px;
    background-color: #362a2b;
    border-radius: 0 0 12px 12px;
}

#clear {
    width: 75%;
    background-color: #2c3032;
}

#zero {
    width: 50%;
    border-radius: 0 0 0 12px;
}

#equals {
    border-radius: 0 0 12px 0;
    background-color: #ff9f0a
}

[data-operator] {
    background-color: #ff9f0a;
}